.abonements {
  text-align: center;
  background-color: $color-ghost-white;
  position: relative;

  @include desktop-width-only {
    padding-bottom: 120px;
    background-image: linear-gradient($color-ghost-white 88%, $color-default-white 88% 100%);
  }

  @include tablet-width {
    padding-bottom: 100px;
    background-image: linear-gradient($color-ghost-white 94.5%, $color-default-white 94.5% 100%);
  }

  @include mobile-width {
    padding-bottom: 13px;
    background-image: none;
  }

  &__element {
    @include desktop-width-only {
      width: 100%;
    }
  }

  & h2 {
    font-family: $ff-alumni-semibold;
    margin: 0;

    @include desktop-width-only {
      font-size: 54px;
      line-height: 65px;
      padding-top: 120px;
      letter-spacing: 1.7px;
    }

    @include tablet-width {
      font-size: 42px;
      line-height: 50px;
      padding-top: 100px;
      letter-spacing: 1.5px;
    }

    @include mobile-width {
      font-size: 32px;
      line-height: 38px;
      padding-top: 63px;
      letter-spacing: 1px;
    }
  }

  &__controls {
    font-family: $ff-roboto-regular;
    color: $color-sapphire;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 341px;
      height: 2px;
      background-color: $color-grey;
      opacity: 0.2;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);

      @include mobile-width {
        margin: 0 15px;
        width: 100%;
      }
    }

    @include desktop-width-only {
      font-size: 20px;
    }

    @include tablet-width {
      font-size: 18px;
      padding-top: 5px;
    }

    @include mobile-width {
      font-size: 16px;
      margin: 0 auto;
      padding: 4px 15px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__control {
    color: $color-sapphire;
    opacity: 0.5;
    border: none;
    background-color: $color-transparent;
    border-bottom: 2px solid $color-transparent;

    &.is-active,
    &:hover,
    &:active {
      border-bottom: 2px solid $color-torch-red;
      opacity: 1;
      z-index: 2;
    }

    &:focus-visible {
      border-bottom: 2px solid $color-torch-red;
      opacity: 1;
      z-index: 2;
      outline: none;
    }

    @include desktop-width-only {
      padding: 20px 0 16px;
      margin: 0 21px;
    }

    @include tablet-width {
      padding: 20px 0 14px;
      margin: 0 25px;
    }

    @include mobile-width {
      padding: 20px 0 15px;
      margin: 0;
    }
  }

  &__content {
    @include desktop-width-only {
      display: flex;
      justify-content: center;
    }

    @include tablet-width {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    position: absolute;
    z-index: -1;

    @include desktop-width-only {
      bottom: -152px;
      right: 0;
    }

    @include tablet-width {
      bottom: -127px;
      right: -143px;
    }

    @include mobile-width {
      display: none;
    }
  }
}
