.accordion {
  &__button {
    display: block;
    border: none;
    text-align: left;
    background-color: $color-transparent;
    font-family: $ff-roboto-regular;
    font-size: 24px;
    color: $color-sapphire;
    padding: 0;
    letter-spacing: 0.1px;
    width: 100%;
    user-select: none;
    cursor: pointer;

    @include desktop-width-only {
      padding: 34px 0;
    }

    @include tablet-width {
      padding: 32px 0;
      line-height: 26px;
    }

    @include mobile-width {
      font-size: 18px;
      padding: 20px 0 16px;
    }
  }

  &__button span {
    display: inline-block;

    @include tablet-width {
      max-width: 640px;
    }

    @include mobile-width {
      max-width: 260px;
      line-height: 22px;
    }
  }

  &__element.is-active &__button {
    @include desktop-width-only {
      padding: 34px 0 0;
    }

    @include tablet-width {
      padding: 32px 0 0;
    }

    @include mobile-width {
      padding: 20px 0 0;
    }
  }

  &__button br,
  &__button nobr {
    @include desktop-width-only {
      display: none;
    }

    @include tablet-width {
      display: none;
    }

    @include mobile-width {
      display: inline;
    }
  }

  &__button-svg {
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    width: 42px;
    height: 42px;
    border: 1px solid $color-sapphire;
    border-radius: 50%;
    color: $color-sapphire;
    pointer-events: none;

    @include mobile-width {
      width: 32px;
      height: 32px;
      top: 34%;
    }
  }

  &__button-svg svg {
    display: block;
    transform: translateY(-1%);

    @include mobile-width {
      width: 32px;
      height: 32px;
      transform: translateY(-1%);
    }
  }

  &__button-svg--close {
    display: none;
  }

  &__element.is-active &__button-svg--close {
    display: block;
  }

  &__element.is-active &__button-svg--open {
    display: none;
  }

  &__element {
    position: relative;
    border-top: 1px solid $color-border-faq;

    &:hover .accordion__button-svg,
    &:focus .accordion__button-svg {
      background-color: $color-sapphire;
      color: $color-default-white;
    }

    &:disabled + .accordion__button-svg {
      opacity: 0.2;
    }
  }

  &__element:last-child {
    border-bottom: 1px solid $color-border-faq;

    @include desktop-width-only {
      margin-bottom: 120px;
    }

    @include tablet-width {
      margin-bottom: 120px;

      & .accordion__button {
        padding: 30px 0 27px;
      }
    }

    @include mobile-width {
      margin-bottom: 70px;

      & .accordion__button {
        padding: 22px 0 15px;
      }
    }
  }

  &__element:last-child .accordion__button-svg {
    @include tablet-width {
      top: 35px;
    }

    @include mobile-width {
      top: 27px;
    }
  }

  &__element.is-active &__content {
    @include desktop-width-only {
      margin-top: 20px;
      margin-bottom: 26px;
    }

    @include tablet-width {
      margin-top: 16px;
      margin-bottom: 26px;
    }

    @include tablet-width {
      margin-top: 15px;
      margin-bottom: 28px;
    }

    @include mobile-width {
      margin-top: 10px;
      margin-bottom: 19px;
    }
  }

  &__element.is-active .accordion__button-svg {
    @include mobile-width {
      top: 19%;
    }
  }

  &__wrapper {
    @include desktop-width-only {
      font-size: 18px;
      max-width: 680px;
    }

    @include tablet-width {
      font-size: 18px;
      max-width: 540px;
    }

    @include mobile-width {
      line-height: 22px;
      font-size: 16px;
    }
  }
}
