.advantages {
  background-color: $color-ghost-white;

  &-wrapper {
    position: relative;
  }

  &-container {
    @include desktop-width-only {
      display: grid;
      justify-content: space-around;
      grid-template-columns: 370px 350px;
      column-gap: 260px;
      row-gap: 154px;
      padding-bottom: 84px;
      padding-top: 17px;
    }

    @include tablet-width {
      display: grid;
      justify-content: space-around;
      grid-template-columns: 322px 322px;
      column-gap: 30px;
      row-gap: 326px;
      padding-bottom: 84px;
    }

    @include mobile-width {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      row-gap: 0;
      padding-bottom: 0;
    }
  }

  & h2 {
    font-family: $ff-alumni-semibold;
    color: $color-sapphire;
    text-align: center;

    @include desktop-width-only {
      font-size: 54px;
      padding-top: 129px;
      padding-bottom: 55px;
      letter-spacing: 1.7px;
    }

    @include tablet-width {
      padding-top: 105px;
      padding-bottom: 58px;
      font-size: 42px;
      letter-spacing: 1.3px;
    }

    @include mobile-width {
      font-size: 32px;
      padding-bottom: 56px;
      padding-top: 70px;
      letter-spacing: 0.9px;
    }
  }
}
