.advantages {
  background-color: $color-ghost-white;

  &-wrapper {
    position: relative;
  }

  &-container {
    @include desktop-width-only {
      display: flex;
      justify-content: space-around;
      gap: 200px;
      padding-bottom: 84px;
    }

    @include tablet-width {
      display: flex;
      justify-content: space-between;
    }

    @include mobile-width {
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }

  }

  &__title {
    font-family: $ff-alumni-semibold;
    color: $color-sapphire;
    text-align: center;

    @include desktop-width-only {
      font-size: 54px;
      padding-top: 108px;
      padding-bottom: 55px;
    }

    @include tablet-width {
      font-size: 42px;
    }

    @include mobile-width {
      font-size: 32px;
    }
  }
}
