.advantage {
  @include desktop-width-only {
    padding: 0 113px 37px;
    max-width: 1366px;
    margin: 0 auto;
  }

  @include tablet-width {
    padding: 0 45px 6px;
  }

  @include mobile-width {
    padding: 0 0 30px;
  }

  &__element {
    display: flex;

    @include mobile-width {
      align-items: center;
      flex-direction: column;
    }
  }

  &__element:first-child {
    position: relative;

    @include desktop-width-only {
      padding-left: 30px;
    }
  }

  &__element:nth-child(2) .advantage__text span {
    @include mobile-width {
      padding: 7px 45px 0;
      line-height: 21px;
    }
  }

  &__element:last-child .advantage__text span {
    @include desktop-width-only {
      padding-right: 60px;
    }

    @include mobile-width {
      padding: 3px 45px 0;
    }
  }

  &__element.comfort {
    @include desktop-width-only {
      padding-left: 30px;
    }
  }

  &__element.experience::before,
  &__element.comfort::before {
    @include desktop-width-only {
      position: absolute;
      content: "";
      width: 25%;
      height: 2px;
      background-color: $color-torch-red;
      opacity: .2;
      bottom: 280px;
    }
  }

  &__element.experience::before {
    @include desktop-width-only {
      right: 165px;
    }
  }

  &__element.comfort::before {
    @include desktop-width-only {
      left: 165px;
    }
  }

  &__element.experience .advantage__text span {
    @include desktop-width-only {
      padding-right: 20px;
    }
  }

  &__element.comfort .advantage__text span {
    @include mobile-width {
      padding: 2px 50px 7px;
    }
  }

  &__amount {
    @include desktop-width-only {
      padding-right: 30px;
    }

    @include tablet-width {
      padding-right: 30px;
    }

    @include mobile-width {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }
  }

  &__amount > p {
    font-family: $ff-roboto-bold;
    background-image: $blue-to-red-text;
    /* stylelint-disable */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* stylelint-enable */

    @include desktop-width-only {
      font-size: 71px;
      line-height: 57px;
    }

    @include tablet-width {
      font-size: 58px;
      line-height: 48px;
    }
  }

  &__amount > span {
    font-size: 14px;
    line-height: 21px;
    color: $color-persian-blue;
  }

  &__text {
    @include desktop-width-only {
      min-width: 200px;
    }

    @include tablet-width {
      min-width: 200px;
    }

    @include mobile-width {
      text-align: center;
      padding-bottom: 31px;
    }
  }

  &__text h3 {
    font-family: $ff-roboto-bold;

    @include desktop-width-only {
      font-size: 22px;
    }

    @include tablet-width {
      font-size: 20px;
    }

    @include mobile-width {
      padding-top: 10px;
    }
  }

  &__text span {
    display: block;

    @include desktop-width-only {
      padding-top: 10px;
      padding-right: 20px;
    }

    @include tablet-width {
      padding-top: 3px;
    }

    @include mobile-width {
      padding: 10px 45px 0;
    }
  }
}
