.another-promos {
  @include desktop-width-only {
    padding-left: 40px;
    min-width: 600px;
  }

  @include tablet-width {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    width: 100%;
  }

  @include mobile-width {
    display: block;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border: 7px solid $color-sapphire;
    border-image: $red-to-blue-border;
    border-image-slice: 1;
    padding: 30px 30px 27px;
    color: $color-resolution-blue;

    @include desktop-width-only {
      & br {
        display: none;
      }

      &:nth-child(2) {
        margin-top: 40px;
      }
    }

    @include tablet-width {
      width: 100%;
      letter-spacing: 0.4px;

      &:nth-child(2) br {
        display: none;
      }

      &:nth-child(2) .another-promos__link {
        padding-top: 31px;
      }
    }

    @include mobile-width {
      align-items: center;
      text-align: center;
      padding: 39px;

      &:nth-child(2) {
        margin-top: 30px;
        margin-bottom: 70px;
      }

      &:nth-child(2) br {
        display: inline;
      }

      &:nth-child(2) .another-promos__link {
        padding-top: 10px;
      }
    }
  }

  &__item p {
    font-family: $ff-roboto-bold;
    font-size: 25px;
    line-height: 20px;

    @include desktop-width-only {
      letter-spacing: 0.5px;
    }
  }

  &__item span {
    display: inline-block;

    @include desktop-width-only {
      padding-top: 11px;
    }

    @include tablet-width {
      padding-top: 10px;
    }
  }

  &__link-wrapper {
    @include desktop-width-only {
      padding-top: 63px;
    }

    @include tablet-width {
      padding-top: 40px;
    }

    @include mobile-width {
      padding-top: 16px;
    }
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px solid $color-resolution-blue;
    color: $color-resolution-blue;
    font-family: $ff-roboto-bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.7px;
    width: max-content;
    user-select: none;

    &:focus-visible {
      outline: 1px solid $color-default-black;
      outline-offset: 5px;
      border-bottom: none;
    }
  }
}
