.btn {
  display: inline-flex;

  border: 2px solid $color-sapphire;
  cursor: pointer;

  transition: opacity $trans-default;

  text-transform: uppercase;
  font-family: $ff-roboto-bold;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
