.btn {
  user-select: none;

  &:hover {
    background-color: $color-default-white;
    color: $color-neon-blue;
    outline: none;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  &:focus-visible {
    background-color: $color-default-white;
    color: $color-neon-blue;
    outline: none;
  }

  &:disabled {
    opacity: 0.2;
  }
}
