.cards {
  display: flex;

  @include desktop-width-only {
    margin-bottom: 100px;
    padding-top: 20px;
    justify-content: center;
  }

  @include tablet-width {
    flex-direction: column;
    padding: 25px 0 80px;
  }

  @include mobile-width {
    padding: 17px 0 40px;
  }

  &__item {
    background-color: $color-default-white;
    border: 7px solid $color-transparent;

    @include desktop-width-only {
      width: 360px;
      margin: 20px;
      padding-bottom: 61px;
    }

    @include tablet-width {
      width: 442px;
      margin: 20px;
      padding-bottom: 62px;
    }

    @include mobile-width {
      width: 290px;
      padding-bottom: 48px;
      margin: 18px;
    }

    &:hover,
    &:focus-visible {
      border: 7px solid $color-sapphire;
      border-image: $red-to-blue-border;
      border-image-slice: 1;
    }

    &:hover .cards__buy {
      background: $red-to-blue;
      color: $color-default-white;
      border: none;
    }

    &:active .cards__buy {
      background: $red-to-blue;
      color: $color-white-active;
      border: none;
    }

    &:focus-visible .cards__buy {
      background: $red-to-blue;
      color: $color-default-white;
      border: none;
      outline: none;
    }
  }

  & h3 {
    font-family: $ff-roboto-bold;
    margin: 0;

    @include desktop-width-only {
      font-size: 26px;
      line-height: 30px;
      padding-top: 54px;
    }

    @include tablet-width {
      font-size: 26px;
      line-height: 30px;
      padding-top: 55px;
    }

    @include mobile-width {
      font-size: 22px;
      line-height: 24px;
      padding-top: 44px;
    }
  }

  & span {
    display: block;
    font-family: $ff-roboto-regular;
    color: $color-sapphire;
    margin: 0;

    @include desktop-width-only {
      line-height: 24px;
      padding-top: 10px;
    }

    @include tablet-width {
      line-height: 24px;
      padding-top: 10px;
    }
  }

  & p {
    position: relative;
    font-family: $ff-roboto-bold;
    color: $color-neon-blue;
    margin: 0;
    z-index: 2;

    &::after {
      position: absolute;
      content: attr(data-price);
      left: 0;
      right: 0;
      font-family: $ff-roboto-bold;
      font-size: 100px;
      color: $color-whisper;
      z-index: -1;
      bottom: 25px;

      @include mobile-width {
        font-size: 80px;
        bottom: 20px;
      }
    }

    @include desktop-width-only {
      font-size: 60px;
      padding-top: 98px;
    }

    @include tablet-width {
      font-size: 60px;
      padding-top: 96px;
    }

    @include mobile-width {
      font-size: 48px;
      padding-top: 77px;
    }
  }

  &__buy {
    text-transform: uppercase;
    font-family: $ff-roboto-bold;
    font-size: 12px;
    color: $color-sapphire;
    padding: 24px 44px;
    border: 2px solid $color-sapphire;
    background-color: $color-transparent;
    letter-spacing: 0.6px;
    user-select: none;

    @include desktop-width-only {
      margin-top: 67px;
    }

    @include tablet-width {
      margin-top: 69px;
    }

    @include mobile-width {
      margin-top: 54px;
    }
  }
}
