.comments {
  overflow: hidden;
  margin: 0 auto;

  @include desktop-width-only {
    width: 560px;
  }

  @include tablet-width {
    width: 566px;
  }

  @include mobile-width {
    width: 226px;
  }

  &__title {
    font-family: $ff-alumni-semibold;
    text-align: center;

    @include desktop-width-only {
      font-size: 54px;
      line-height: 56px;
      padding: 120px 0 37px;
    }

    @include tablet-width {
      font-size: 42px;
      line-height: 44px;
      padding: 91px 0 40px;
    }

    @include mobile-width {
      font-size: 32px;
      line-height: 34px;
      padding: 63px 0 42px;
    }
  }

  &__list {
    min-width: 0;

    @include desktop-width-only {
      padding-bottom: 120px;
    }

    @include tablet-width {
      padding-bottom: 100px;
    }

    @include mobile-width {
      padding-bottom: 70px;
    }
  }

  &__item {
    position: relative;
    background-color: $color-resolution-blue;
    color: $color-default-white;
    width: 560px;
    min-height: 269px;
  }

  &__image {
    position: absolute;

    @include desktop-width-only {
      top: 62px;
      left: 62px;
    }

    @include tablet-width {
      top: 62px;
      left: 62px;
    }

    @include mobile-width {
      top: 40px;
      left: 40px;
    }

  }

  &__image img {
    clip-path: circle(50%);

    @include desktop-width-only {
      width: 80px;
      height: 80px;
    }

    @include tablet-width {
      width: 80px;
      height: 80px;
    }

    @include mobile-width {
      width: 68px;
      height: 68px;
    }
  }

  &__text {

    @include desktop-width-only {
      padding: 62px 62px 62px 170px;
    }

    @include tablet-width {
      padding: 62px 62px 62px 170px;
    }

    @include mobile-width {
      padding: 0;
    }

  }

  &__name {
    font-size: 20px;

    @include mobile-width {
      padding: 55px 40px 34px 124px;
    }
  }

  &__comment {

    @include desktop-width-only {
      padding-top: 25px;
    }

    @include tablet-width {
      padding-top: 25px;
    }

    @include mobile-width {
      padding: 0 25px 40px 25px;
      ;
      text-align: center;
    }
  }
}
