.comments-arrows {
  position: relative;
  margin: 0 auto;

  @include desktop-width-only {
    width: 710px;
    bottom: 220px;
  }

  @include tablet-width {
    width: 716px;
    bottom: 196px;
  }

  @include mobile-width {
    width: 320px;
    bottom: 220px;
  }
}
