.comments-arrows {
  position: relative;
  margin: 0 auto;

  @include desktop-width-only {
    width: 700px;
    bottom: 220px;
  }

  @include tablet-width {
    width: 706px;
    bottom: 200px;
  }

  @include mobile-width {
    width: 305px;
    bottom: 230px;
  }
}
