.faq {
  background-color: $color-ghost-white;

  &-container {
    margin: 0 auto;

    @include desktop-width-only {
      display: flex;
    }

    @include tablet-width {
      flex-direction: column;
    }

    @include mobile-width {
      flex-wrap: wrap;
    }
  }

  & h2 {
    font-family: $ff-alumni-semibold;

    @include desktop-width-only {
      font-size: 54px;
      padding: 140px 0 59px 103px;
      letter-spacing: 1.7px;
    }

    @include tablet-width {
      letter-spacing: 1.3px;
      text-align: center;
      font-size: 42px;
      padding: 112px 0 54px;
    }

    @include mobile-width {
      font-size: 32px;
      padding: 7px 0 38px;
      letter-spacing: 0.9px;
    }
  }

  &__controls {
    display: flex;

    @include desktop-width-only {
      flex-direction: column;
      padding-right: 40px;
    }

    @include tablet-width {
      justify-content: center;
      margin-bottom: 40px;
    }

    @include mobile-width {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      justify-items: center;
      margin-bottom: 32px;
    }
  }

  &__control {
    font-family: $ff-roboto-bold;
    font-size: 18px;
    color: $color-sapphire;
    padding: 16px 0;
    border: 1px solid $color-border-faq;
    background-color: $color-transparent;

    @include desktop-width-only {
      width: 260px;
      margin-bottom: 10px;
    }

    @include tablet-width {
      width: 162px;
      margin-bottom: 0;
      margin-right: 10px;
    }

    @include mobile-width {
      width: 141px;
      margin: 0;
      font-size: 16px;
      padding: 11px;
    }

    &:hover {
      border: 1px solid $color-sapphire;
    }

    &.is-active {
      background: $red-to-blue;
      color: $color-default-white;
      border: 1px solid $color-transparent;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid $color-sapphire;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &__control:last-child {
    @include tablet-width {
      margin-right: 0;
    }
  }

  &__content {
    @include desktop-width-only {
      width: 100%;
    }
  }

  &__element {
    @include desktop-width-only {
      width: 100%;
    }

    @include tablet-width {
      width: 100%;
    }
  }
}
