.footer-social {
  display: flex;
  align-items: center;

  @include mobile-width {
    padding: 0 0 52px 14px;
  }

  &__item {
    padding: 5px;
  }

  &__link {
    color: $color-default-black;
    background-color: $color-default-white;
    display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;

    &:hover .footer-social__icon {
      color: $color-default-white;
      background-color: $color-neon-blue;
      border-radius: 50%;
    }
  }
}
