.footer-social {
  display: flex;
  align-items: center;

  @include mobile-width {
    padding: 0 0 52px 0;
    margin-left: -3px;
  }

  &__item {
    @include desktop-width-only {
      padding: 5px;
      margin-right: -1px;
    }

    @include tablet-width {
      padding: 7px;
      margin-right: -5px;
    }

    @include mobile-width {
      padding: 5px;
      margin-right: 0;
    }
  }

  &__link {
    color: $color-default-black;
    background-color: $color-default-white;
    display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;

    &:focus {
      border: none;
      outline: none;
    }

    &:hover svg,
    &:focus svg {
      color: $color-default-white;
      background-color: $color-neon-blue;
      border-radius: 50%;
    }

    &:active svg {
      color: $color-default-white;
      background-color: $color-sapphire;
      border-radius: 50%;
    }

    &:disabled svg {
      opacity: 0.2;
    }
  }
}
