.footer {
  position: relative;
  color: $color-default-white;
  display: flex;
  justify-content: space-between;

  @include mobile-width {
    display: block;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;

    @include mobile-width {
      position: absolute;
      top: 50px;
      left: 35px;
    }
  }

  &__logo {
    padding: 5px 0;

    @include mobile-width {
      padding: 0;
    }

    &:hover {
      border-bottom: 1px solid $color-default-white;
    }

    &:focus-visible {
      outline: 1px solid $color-default-white;
    }

    @include desktop-width-only {
      margin-left: -6px;
      margin-top: 7px;
    }

    @include tablet-width {
      margin-left: -6px;
    }

    @include mobile-width {
      margin-left: -25px;
    }
  }

  &__logo img {
    @include desktop-width-only {
      width: 98px;
    }

    @include tablet-width {
      width: 92px;
    }

    @include mobile-width {
      width: 76px;
    }
  }
}
