.footer-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include desktop-width-only {
    padding: 31px 0 32px 5px;
  }

  @include tablet-width {
    padding: 35px 0 34px 15px;
  }

  @include mobile-width {
    padding: 35px 0 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    grid-template-areas:
    ". item3"
    "item1 item4"
    "item2 item5";

    &__item {
      &.footer-nav__item--1 {
        grid-area: item1;
      }

      &.footer-nav__item--2 {
        grid-area: item2;
      }

      &.footer-nav__item--3 {
        grid-area: item3;
      }

      &.footer-nav__item--4 {
        grid-area: item4;
      }

      &.footer-nav__item--5 {
        grid-area: item5;
      }
    }
  }

  &__link-wrapper {
    @include desktop-width-only {
      padding: 10px 21px;
    }

    @include tablet-width {
      padding: 10px 16px;
    }

    @include mobile-width {
      padding: 10px 16px 5px 0;
    }
  }

  &__link {
    font-size: 14px;
    display: inline-block;
    color: $color-default-white;
    border-bottom: 1px solid $color-transparent;

    &:hover {
      border-bottom: 1px solid $color-default-white;
    }

    &:focus {
      outline: 1px solid $color-default-white;
      outline-offset: 3px;
    }

    &:active {
      outline: none;
      border: none;
    }

    @include mobile-width {
      font-size: 16px;
    }
  }
}
