.footer {
  position: relative;
  color: $color-default-white;
  display: flex;
  justify-content: space-between;

  @include mobile-width {
    display: block;
  }

  &__logo {
    display: flex;
    align-items: center;

    @include mobile-width {
      position: absolute;
      top: 50px;
      left: 35px;
    }
  }

  &__logo img {
    @include desktop-width-only {
      transform: translate(-6px, 7px);
      width: 98px;
    }

    @include tablet-width {
      width: 92px;
      transform: translateX(-6px);
    }

    @include mobile-width {
      width: 76px;
      transform: translateX(-25px);
    }
  }
}
