.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;

  @include desktop-width-only {
    padding: 35px 104px 0 102px;
  }

  @include tablet-width {
    padding: 36px 46px 0;
  }

  @include mobile-width {
    padding: 15px 15px 0;
  }

  &__logo {
    @include desktop-width-only {
      transform: translateY(5px);
    }
  }

  &__phone {
    color: $color-default-white;
    font-family: $ff-alumni;

    @include desktop-width-only {
      letter-spacing: 0.7px;
      font-size: 26px;
    }

    @include tablet-width {
      letter-spacing: 0.4px;
      font-size: 24px;
    }

    @include mobile-width {
      font-size: 20px;
    }
  }
}
