.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;

  @include desktop-width-only {
    padding: 35px 104px 0 102px;
    max-width: 1366px;
  }

  @include tablet-width {
    padding: 36px 46px 0;
  }

  @include mobile-width {
    padding: 15px 15px 0;
  }

  &__logo {
    @include desktop-width-only {
      padding: 5px 0;
      border-bottom: 1px solid $color-transparent;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.2;
    }

    &:focus-visible {
      outline: 1px solid $color-default-white;
    }
  }

  &__phone {
    color: $color-default-white;
    font-family: $ff-alumni-semibold;

    @include desktop-width-only {
      letter-spacing: 0.7px;
      font-size: 26px;
      transform: translateY(-7px);
      padding: 3px 0 1px;
      border-bottom: 1px solid $color-transparent;
    }

    @include tablet-width {
      letter-spacing: 0.4px;
      font-size: 24px;
    }

    @include mobile-width {
      font-size: 20px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.2;
    }

    &:focus-visible {
      outline: 1px solid $color-default-white;
    }
  }
}
