.hero {
  display: flex;
  color: $color-default-white;

  @include desktop-width-only {
    grid-template-columns: 35% 65%;
    padding-bottom: 50px;
    margin-top: -10px;
  }

  @include tablet-width {
    justify-content: center;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
    padding-bottom: 85px;
  }

  @include mobile-width {
    display: block;
    padding-bottom: 80px;
  }

  &__description-wrapper {
    display: flex;

    @include desktop-width-only {
      padding-top: 120px;
    }

    @include tablet-width {
      padding-top: 82px;
    }

    @include mobile-width {
      justify-content: space-evenly;
      padding-top: 74px;
    }
  }

  &__description-list {
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    text-align: right;
    display: inline-block;

    @include desktop-width-only {
      padding: 176px 0 0 20px;
      line-height: 21px;
      width: 35%;
    }

    @include tablet-width {
      padding: 124px 0 0 0;
      width: 40%;
    }

    @include mobile-width {
      padding: 119px 0 0 0;
      margin-right: -15px;
      width: auto;
    }
  }

  &__description-item {
    @include tablet-width {
      line-height: 22px;
    }
  }

  &__description-item:nth-child(3) {
    letter-spacing: -0.3px;
  }

  &__description-inner {
    text-transform: uppercase;
    display: inline-block;

    @include desktop-width-only {
      padding-left: 17px;
      width: 70%;
      margin-right: 40px;
    }

    @include tablet-width {
      padding-left: 26px;
    }

    @include mobile-width {
      padding-left: 3px;
    }
  }

  &__description-inner h2 {
    font-family: $ff-alumni-semibold;
    text-align: right;
    margin: 0;

    @include desktop-width-only {
      font-size: 40px;
      padding-right: 49px;
      letter-spacing: 2.7px;
    }

    @include tablet-width {
      font-size: 28px;
      letter-spacing: 2.7px;
    }

    @include mobile-width {
      font-size: 22px;
    }
  }

  &__description-inner h1 {
    font-family: $ff-alumni-extrabold;
    text-align: right;
    margin: 0;
    display: inline-block;
    width: 100%;

    @include desktop-width-only {
      line-height: 110px;
      font-size: 96px;
      padding-top: 32px;
      letter-spacing: 2.2px;
    }

    @include tablet-width {
      font-size: 76px;
      padding-top: 14px;
      line-height: 86px;
      text-transform: none;
      letter-spacing: 0.5px;
    }

    @include mobile-width {
      padding-top: 18px;
    }
  }

  &__image {
    background-color: $color-sapphire;

    @include desktop-width-only {
      margin-top: -8px;
      margin-left: 27px;
    }

    @include tablet-width {
      margin-top: 22px;
    }

    @include mobile-width {
      display: none;
    }
  }

  &__description-button-wrapper {
    text-align: right;

    @include desktop-width-only {
      padding-right: 35px;
      text-align: right;
    }

    @include tablet-width {
      display: flex;
      justify-content: flex-end;
    }

    @include mobile-width {
      justify-content: center;
    }
  }

  &__description-button {
    display: block;
    font-family: $ff-roboto-bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-default-white;
    background-color: $color-transparent;
    padding: 20px 0 20px;
    border: 4px solid $color-default-white;
    letter-spacing: 0.6px;
    text-align: center;

    @include desktop-width-only {
      width: 235px;
      margin-left: 8px;
      margin-top: 48px;
    }

    @include tablet-width {
      width: 187px;
      margin-top: 35px;
      margin-right: -5px;
    }

    @include mobile-width {
      width: 100%;
      margin: 23px 0 0 0;
    }
  }
}
