.super-games {
  display: flex;
  margin: 0 auto;

  &__image {
    border-color: $color-resolution-blue;

    @include mobile-width {
      width: 100%;
    }
  }

  &__image img {
    @include desktop-width-only {
      object-fit: cover;
      height: 100%;
    }

    @include tablet-width {
      object-fit: cover;
      height: 100%;
    }
    @include mobile-width {
      width: 100%;
    }
  }

  &-wrapper {
    justify-content: center;
    display: flex;
    width: 100%;

    @include mobile-width {
      padding: 69px 15px 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__description-container {
    @include mobile-width {
      width: 100%;
    }
  }
}
