.trainers {
  @include desktop-width-only {
    max-width: 1160px;
  }

  @include tablet-width {
    width: 566px;
  }

  @include mobile-width {
    width: 100%;
    padding: 0 47px;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;

    &:hover .trainers__image + span,
    &:focus .trainers__image + span {
      display: none;
    }

    &:hover .trainers__description,
    &:focus .trainers__description {
      display: block;
    }
  }

  &__image-wrapper > span {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    font-family: $ff-roboto-bold;
    color: $color-default-white;
    font-size: 18px;

    @include desktop-width-only {
      left: 50%;
      bottom: 23px;
    }

    @include tablet-width {
      left: 51%;
      bottom: 24px;
    }
  }

  &__image {
    background-color: $color-grey;
  }

  &__image img {
    @include tablet-width {
      object-fit: cover;
      height: 294px;
      width: 100%;
    }

    @include mobile-width {
      min-height: 274px;
      height: 100%;
    }
  }
}
