.trainers-arrows {
  margin: 0 auto;

  @include desktop-width-only {
    max-width: 1310px;
  }

  @include tablet-width {
    max-width: 716px;
  }

  @include mobile-width {
    max-width: 310px;
  }
}
