.trainer-info {
  display: none;
  position: absolute;
  top: 0;
  background: $color-bcgr-trainer;
  height: 100%;
  width: 100%;
  color: $color-default-white;
  text-align: center;
  overflow: scroll;

  & p {
    font-family: $ff-roboto-bold;
    font-size: 18px;
    line-height: 20px;

    @include desktop-width-only {
      padding-top: 55px;
    }

    @include tablet-width {
      padding-top: 55px;
      padding-right: 8px;
    }

    @include mobile-width {
      padding-top: 44px;
      padding-right: 0;
    }
  }

  & span {
    color: $color-spindle;

    @include tablet-width {
      padding-right: 10px;
    }

    @include mobile-width {
      padding-right: 0;
    }
  }

  &__list {
    text-align: left;

    @include desktop-width-only {
      padding-top: 22px;
      padding-right: 10px;
    }

    @include tablet-width {
      padding-top: 22px;
      padding-right: 17px;
    }

    @include mobile-width {
      padding-top: 21px;
    }
  }

  &__item {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 70px;
    font-size: 14px;
    line-height: 22px;
    padding-top: 11px;

    @include mobile-width {
      margin-left: 50px;
      line-height: 20px;
      padding-top: 14px;
    }
  }
}
