.trainers {
  @include desktop-width-only {
    width: 1160px;
  }

  @include tablet-width {
    width: 566px;
  }

  @include mobile-width {
    width: 100%;
    padding: 0 47px;
  }

  & h2 {
    font-family: $ff-alumni-semibold;

    @include desktop-width-only {
      font-size: 54px;
      line-height: 65px;
      padding-top: 106px;
      letter-spacing: 1.7px;
    }

    @include tablet-width {
      text-align: center;
      font-size: 42px;
      line-height: 46px;
      padding-top: 101px;
      letter-spacing: 1.2px;
    }

    @include mobile-width {
      font-size: 32px;
      line-height: 38px;
      padding-top: 63px;
    }
  }

  &__list {
    display: flex;

    @include desktop-width-only {
      padding-top: 48px;
      padding-bottom: 105px;
    }

    @include tablet-width {
      padding-top: 35px;
      padding-bottom: 100px;
    }

    @include mobile-width {
      padding-top: 42px;
      padding-bottom: 70px;
    }
  }

  &__item {
    position: relative;

    @include desktop-width-only {
      &:hover .trainers__name {
        display: none;
      }

      &:hover .trainers__description {
        display: block;
      }
    }

    @include tablet-width {
      &:active .trainers__name {
        display: none;
      }

      &:active .trainers__description {
        display: block;
      }
    }
  }

  &__image-wrapper > span {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    font-family: $ff-roboto-bold;
    color: $color-default-white;
    font-size: 18px;

    @include desktop-width-only {
      left: 50%;
      bottom: 23px;
    }

    @include tablet-width {
      left: 51%;
      bottom: 24px;
    }
  }

  &__image {
    background-color: $color-grey;
  }

  &__image img {
    @include tablet-width {
      min-height: 294px;
      width: 100%;
    }

    @include mobile-width {
      min-height: 274px;
    }
  }
}
