.trainers-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  background-color: $color-transparent;
  border-radius: 50%;
  color: $color-sapphire;
  transform: translateY(50%);

  @include desktop-width-only {
    width: 56px;
    height: 56px;
    bottom: 50%;
  }

  @include tablet-width {
    width: 56px;
    height: 56px;
    bottom: 50%;
  }

  @include mobile-width {
    width: 32px;
    height: 32px;
    bottom: 50%;
    margin: 0 3px;
  }

  &:hover {
    border: 1px solid $color-sapphire;
  }

  &:active {
    background-color: $color-sapphire;
    color: $color-default-white;
  }

  &:focus-visible {
    border: 1px solid $color-sapphire;
    outline: none;
  }

  &:disabled {
    background-color: $color-transparent;
    opacity: 0.2;
  }

  & svg {
    transform: translateX(-7%);

    @include mobile-width {
      width: 10px;
      height: 19px;
    }
  }

  &--left {
    left: 0;

    @include tablet-width {
      left: -3px;
    }

    @include mobile-width {
      left: 0;
    }
  }

  &--right {
    transform: rotate(180deg) translateY(-50%);
    right: 0;

    @include tablet-width {
      right: -3px;
    }

    @include mobile-width {
      right: 0;
    }
  }
}
