.trainers-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  background-color: $color-transparent;
  border-radius: 50%;
  z-index: 2;
  color: $color-sapphire;

  @include desktop-width-only {
    width: 56px;
    height: 56px;
    bottom: 224px;
  }

  @include tablet-width {
    width: 56px;
    height: 56px;
    bottom: 224px;
  }

  @include mobile-width {
    width: 32px;
    height: 32px;
    bottom: 190px;
  }

  &:hover {
    border: 1px solid $color-sapphire;
  }

  &:active {
    background-color: $color-sapphire;
    color: $color-default-white;
  }

  &:focus-visible {
    border: 1px solid $color-sapphire;
    outline: none;
  }

  &:disabled {
    background-color: $color-transparent;
    opacity: 0.2;
  }

  & svg {
    transform: translateX(-7%);

    @include mobile-width {
      width: 10px;
      height: 19px;
    }
  }

  &--left {
    left: 0;
  }

  &--right {
    transform: rotate(180deg);
    right: 0;
  }
}
