.video-play-button {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translate(-50%);
  color: $color-default-white;

  @include desktop-width-only {
    top: 28%;
  }

  @include tablet-width {
    top: 20%;
  }

  @include mobile-width {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & svg {
    @include tablet-width {
      width: 73px;
      height: 73px;
      transform: translate3d(16%, 19%, 0);
    }

    @include mobile-width {
      transform: translate3d(20%, 17%, 0);
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-sapphire;
    cursor: pointer;
    outline: none ;
  }

  &:hover circle:first-child,
  &:focus circle:first-child,
  &:active circle:first-child {
    stroke: $color-sapphire;
    stroke-opacity: 1;
  }

  &:hover circle:nth-child(2),
  &:focus circle:nth-child(2),
  &:active circle:nth-child(2) {
    fill: $color-default-white;
  }

  &--disabled {
    color: $color-sapphire;
    opacity: 0.2;

    & circle:first-child {
      stroke: $color-sapphire;
      stroke-opacity: 1;
    }

    & circle:nth-child(2) {
      fill: $color-default-white;
    }
  }
}
