// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-sapphire: #102654;
$color-torch-red: #ed0233;

// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$blue-to-red: conic-gradient(from 151deg at 16.03% 39.06%, #003D85 20deg, #B80027 295deg, #003D85);
$red-to-blue: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-roboto-lite: "roboto-lite", "Arial", sans-serif;
$ff-roboto-regular: "roboto-regular", "Arial", sans-serif;
$ff-roboto-medium: "roboto-medium", "Arial", sans-serif;
$ff-roboto-bold: "roboto-bold", "Arial", sans-serif;

$ff-alumni: "alumni", "Arial", sans-serif;
$ff-alumni-semibold: "alumni-semibold", "Arial", sans-serif;
$ff-alumni-extrabold: "alumni-extrabold", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
